<div class="jumbotron">
  <h1>Mining Dashboard</h1>
</div>

<div class="container">
  <div class="row">
    <% @miners.each do |miner| %>
      <div class="col-xs-12">
        <h4><%= miner.name %></h4>
        <ul>
          <li><%= miner.api %></li>
          <li><%= miner.address %></li>
        </ul>
      </div>
    <% end %>
    <% @results.each do |result| %>
      <% if result[:nanopool]  %>
        <p>Nanopool</p>
        <%= result[:nanopool] %>
        <% elsif result[:nicehash] %>
        <p>Nicehash</p>
        <%= result[:nicehash] %>
      <% end %>
    <% end %>
  </div>
</div>
